name = "da-admin"
main = "src/index.js"
compatibility_date = "2024-11-11"
keep_vars = true

# ----------------------------------------------------------------------
# production environment
[env.production]
name = "da-admin"
services = [
  { binding = "dacollab", service = "da-collab" }
]

kv_namespaces = [
  { binding = "DA_AUTH", id = "f8978fd2270f4c4fbcc8c9f04248a034" },
  { binding = "DA_CONFIG", id = "a20824737cd8499bae0f0d887ac6db21" },
  { binding = "DA_JOBS", id = "7056c4ab4e0c4604b6304607404eba1a" }
]

r2_buckets = [
  { binding = "AEM_CONTENT", bucket_name = "aem-content" }
]

[env.production.vars]
ENVIRONMENT = "production"
VERSION = "@@VERSION@@"
DA_COLLAB = "https://collab.da.page"
AEM_BUCKET_NAME = "aem-content"

# ----------------------------------------------------------------------
# stage environment
[env.stage]
name = "da-admin-stage"
services = [
  { binding = "dacollab", service = "da-collab-stage" }
]

kv_namespaces = [
  { binding = "DA_AUTH", id = "f5cc4d0150ac48d5b56948b5d147c77e" },
  { binding = "DA_CONFIG", id = "3f6f6db5c27348fabee7c2a8ed39be17" },
  { binding = "DA_JOBS", id = "66265e68cb2b422d8dc7a34b9fe2b0c9" }
]

r2_buckets = [
  { binding = "AEM_CONTENT", bucket_name = "aem-content-stage" }
]

[env.stage.vars]
ENVIRONMENT = "stage"
VERSION = "@@VERSION@@-stage"
DA_COLLAB = "https://collab.da.page"
AEM_BUCKET_NAME = "aem-content-stage"

# ----------------------------------------------------------------------
# ci environment (using stage content)
[env.ci]
name = "da-admin-ci"
services = [
  { binding = "dacollab", service = "da-collab-stage" }
]

kv_namespaces = [
  { binding = "DA_AUTH", id = "f5cc4d0150ac48d5b56948b5d147c77e" },
  { binding = "DA_CONFIG", id = "3f6f6db5c27348fabee7c2a8ed39be17" },
  { binding = "DA_JOBS", id = "66265e68cb2b422d8dc7a34b9fe2b0c9" }
]

r2_buckets = [
  { binding = "AEM_CONTENT", bucket_name = "aem-content-stage" }
]

[env.ci.vars]
ENVIRONMENT = "ci"
VERSION = "@@VERSION@@-stage"
DA_COLLAB = "https://collab.da.page"
AEM_BUCKET_NAME = "aem-content-stage"


# ----------------------------------------------------------------------
# dev environment (local)
[env.dev]
name = "da-admin-dev"
services = [
  { binding = "dacollab", service = "da-collab-local" }
]

kv_namespaces = [
  { binding = "DA_AUTH", id = "f5cc4d0150ac48d5b56948b5d147c77e" },
  { binding = "DA_CONFIG", id = "3f6f6db5c27348fabee7c2a8ed39be17" },
  { binding = "DA_JOBS", id = "66265e68cb2b422d8dc7a34b9fe2b0c9" }
]

r2_buckets = [
  { binding = "AEM_CONTENT", bucket_name = "aem-content-dev" }
]

[env.dev.vars]
ENVIRONMENT = "dev"
VERSION="0.0.0-dev"
DA_COLLAB = "http://localhost:4711"
AEM_BUCKET_NAME = "aem-content-dev"

# ----------------------------------------------------------------------
# integration test environment (local)
[env.it]
name = "da-admin-it"
services = [
  { binding = "dacollab", service = "da-collab-local" }
]

kv_namespaces = [
  { binding = "DA_AUTH", id = "local-da-auth" },
  { binding = "DA_CONFIG", id = "local-da-config" },
  { binding = "DA_JOBS", id = "local-da-jobs" }
]

r2_buckets = [
  { binding = "AEM_CONTENT", bucket_name = "aem-content-local" }
]

[env.it.vars]
ENVIRONMENT = "it"
VERSION="0.0.0-it"
DA_COLLAB = "http://localhost:4711"
AEM_BUCKET_NAME = "aem-content-local"

[observability]
[observability.logs]
enabled = false
head_sampling_rate = 1
invocation_logs = true
persist = true

