name = "da-admin"
main = "src/index.js"
compatibility_date = "2024-11-11"
keep_vars = true

[[durable_objects.bindings]]
name = "DA_JOBS"
class_name = "JobState"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["JobState"]

# ----------------------------------------------------------------------
# production environment
[env.production]
name = "da-admin"
services = [
  { binding = "dacollab", service = "da-collab" }
]

kv_namespaces = [
  { binding = "DA_AUTH", id = "f8978fd2270f4c4fbcc8c9f04248a034" },
  { binding = "DA_CONFIG", id = "a20824737cd8499bae0f0d887ac6db21" }
]

r2_buckets = [
  { binding = "AEM_CONTENT", bucket_name = "aem-content" }
]

[[env.production.queues.producers]]
  queue = "da-copy-jobs"
  binding = "COPY_QUEUE"

[[env.production.queues.consumers]]
  queue = "da-copy-jobs"
  max_batch_size = 10
  max_retries = 3
  dead_letter_queue = "da-copy-jobs-dlq"

[env.production.vars]
ENVIRONMENT = "production"
VERSION = "@@VERSION@@"
DA_COLLAB = "https://collab.da.page"
AEM_BUCKET_NAME = "aem-content"

# ----------------------------------------------------------------------
# stage environment
[env.stage]
name = "da-admin-stage"
services = [
  { binding = "dacollab", service = "da-collab-stage" }
]

kv_namespaces = [
  { binding = "DA_AUTH", id = "f5cc4d0150ac48d5b56948b5d147c77e" },
  { binding = "DA_CONFIG", id = "3f6f6db5c27348fabee7c2a8ed39be17" }
]

r2_buckets = [
  { binding = "AEM_CONTENT", bucket_name = "aem-content-stage" }
]

[[env.stage.queues.producers]]
  queue = "da-copy-jobs-stage"
  binding = "COPY_QUEUE"

[[env.stage.queues.consumers]]
  queue = "da-copy-jobs-stage"
  max_batch_size = 10
  max_retries = 3
  dead_letter_queue = "da-copy-jobs-stage-dlq"

[env.stage.vars]
ENVIRONMENT = "stage"
VERSION = "@@VERSION@@-stage"
DA_COLLAB = "https://collab.da.page"
AEM_BUCKET_NAME = "aem-content-stage"

# ----------------------------------------------------------------------
# ci environment (using stage content)
[env.ci]
name = "da-admin-ci"
services = [
  { binding = "dacollab", service = "da-collab-stage" }
]

kv_namespaces = [
  { binding = "DA_AUTH", id = "f5cc4d0150ac48d5b56948b5d147c77e" },
  { binding = "DA_CONFIG", id = "3f6f6db5c27348fabee7c2a8ed39be17" }
]

r2_buckets = [
  { binding = "AEM_CONTENT", bucket_name = "aem-content-stage" }
]

[[env.ci.queues.producers]]
  queue = "da-copy-jobs-ci"
  binding = "COPY_QUEUE"

[[env.ci.queues.consumers]]
  queue = "da-copy-jobs-ci"
  max_batch_size = 10
  max_retries = 3
  dead_letter_queue = "da-copy-jobs-ci-dlq"

[env.ci.vars]
ENVIRONMENT = "ci"
VERSION = "@@VERSION@@-stage"
DA_COLLAB = "https://collab.da.page"
AEM_BUCKET_NAME = "aem-content-stage"


# ----------------------------------------------------------------------
# dev environment (local)
[env.dev]
name = "da-admin-local"
services = [
  { binding = "dacollab", service = "da-collab-local" }
]

kv_namespaces = [
  { binding = "DA_AUTH", id = "f5cc4d0150ac48d5b56948b5d147c77e" },
  { binding = "DA_CONFIG", id = "3f6f6db5c27348fabee7c2a8ed39be17" }
]

r2_buckets = [
  { binding = "AEM_CONTENT", bucket_name = "aem-content-stage" }
]

[env.dev.vars]
ENVIRONMENT = "dev"
VERSION="0.0.0-dev"
DA_COLLAB = "http://localhost:4711"
AEM_BUCKET_NAME = "aem-content-stage"

# ----------------------------------------------------------------------
# integration test environment (local)
[env.it]
name = "da-admin-it"
services = [
  { binding = "dacollab", service = "da-collab-local" }
]

kv_namespaces = [
  { binding = "DA_AUTH", id = "local-da-auth" },
  { binding = "DA_CONFIG", id = "local-da-config" }
]

r2_buckets = [
  { binding = "AEM_CONTENT", bucket_name = "aem-content-local" }
]

[[env.it.queues.producers]]
  queue = "da-copy-jobs-it"
  binding = "COPY_QUEUE"

[[env.it.queues.consumers]]
  queue = "da-copy-jobs-it"
  max_batch_size = 10
  max_retries = 3
  dead_letter_queue = "da-copy-jobs-it-dlq"

[env.it.vars]
ENVIRONMENT = "it"
VERSION="0.0.0-it"
DA_COLLAB = "http://localhost:4711"
AEM_BUCKET_NAME = "aem-content-local"

